mixin hotel(hotel, searchQuery)
    .hotel
          .hotel_img
            a(href=`/all/${hotel._id}`)
              //- img(src=`/images/hotels/${hotel.image}`, alt="")
              
              img(src=`/images/hotels/arches_lonely_bw_124747_1920x1080.jpg`, alt="")
              //- img(src=`http://res.cloudinary.com/dd4c9cnmd/image/upload/${hotel.image}.jpg`)

          .hotel_info
            a(href=`/all/${hotel._id}`)
              h3= hotel.hotel_name
            hr
            if url.startsWith('/all/')
              p= hotel.hotel_description
              hr            
            p= `Start rating: ${hotel.star_rating}`
            p= `Country: ${hotel.country}`
            p= `Cost per night: N${hotel.cost_per_night}`

          if url.startsWith('/all/')
            hr
            h3 Search for this hotel
            .search_nav
              form(action="/results" method="POST")
                .input_wrapper
                  label(for="destination") Destination
                  input(type="text" id="destination" name="destination" placeholder="Where to?" value=hotel.hotel_name) 
                .input_wrapper
                  label(for="duration") Duration (nights)
                  input(type="text" id="duration" name="duration" placeholder="Staying for how long?" required) 
                .input_wrapper
                  label(for="departure-date") Departure Date
                  input(type="date" id="departure-date" name="departureDate" placeholder="When do you want to leave?" required) 
                .input_wrapper
                  label(for="number-guests") Number of Guests
                  input(type="number" id="number-guests" name="guestNumber" placeholder="How may should be there?" required)          

                .input_wrapper
                  button(type="submit") SEARCH!

          if url === '/results'
            .hotel_order_details
              p= `Number of nights: ${searchQuery.duration}`
              p= `Departure date: ${searchQuery.departureDate}`
              - const costEach = searchQuery.duration * hotel.cost_per_night
              - const totalCost = costEach * searchQuery.guestNumber
              p= `Total per person N${costEach}`
              hr
              h3= `Total cost: N${totalCost}`